@import 'variables';

@mixin line {
  font-size: 50px;
  font-weight: 900;
  font-style: italic;
  margin: 0 auto;
  max-width: $app-width;
  line-height: .8;
  text-transform: uppercase;
}

.line {
  @include line;
}

input.line {
  background: transparent;
  border: none;
  color: $line-color-interactive;
  margin-top: -20px;
  outline: none;
  padding: inherit;
  width: 100%;
}

.line-interactive {
  @include line;
  color: $line-color-interactive;
}

.line-inverse {
  @include line;

  color: invert($app-color);
}
