@import 'variables';

.line {
  font-size: $app-font-size;
  font-weight: 800;
  font-style: italic;
  margin: 0 auto;
  max-width: $app-width;
  line-height: .8;
  text-transform: uppercase;

  &.--error {
    font-size: 30px;
    font-style: normal;
    line-height: 1;
  }

  &.--inverse {
    color: invert($app-color);
  }

  &.--interactive {
    cursor: pointer;
    color: $line-color-interactive;

    &.--inactive {
      color: darken($line-color-interactive, 30%);
    }
  }
}

input.line {
  // Browsers struggle to keep same size and weight for an input so this is
  // a workaround to keep the visual difference as small as possible.
  font-size: $app-font-size * .85;
  font-weight: 900;

  background: transparent;
  border: none;
  color: $line-color-interactive;
  margin-top: -20px;
  outline: none;
  padding: inherit;
  width: 100%;
}
