// App general variables
$app-background: black;
$app-width: 500px;
$app-color: white;
$app-font-size: 70px;
$app-font-family: A Million Ads, Helvetica, Arial, sans-serif;

// Variables for lines
$line-color-interactive: blue;
